@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");


:root{
    --line-fill:#3498db;
    --line-empty:#e0e0e0;
}


*{
    box-sizing:border-box;
}
body{
    background-color: #f6f7fb;
    font-family: 'Muli', sans-serif;
    margin:0;
    height: 100vh;
    display:flex;
    overflow:hidden;
    align-items:center;
    justify-content: center;
}
.container{
    text-align: center;
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}

.progress-container::before{
    content: '';
    background-color: var(--line-empty);
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    height: 4px;
    width: 99%;
    z-index: -1;
}
.progress-line{
    background-color: var(--line-fill);
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    height: 4px;
    width: 0;
    z-index: -1;
    transition: 0.4s ease;
}
.progress-circle{
   background-color:#fff;
   border-radius: 50%;
   color:#999;
   height:30px;
   width: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid var(--line-empty);
   transition: 0.4s ease;
}
.progress-circle.active{
  border-color: var(--line-fill);
}
.btn{
    background-color: var(--line-fill);
    color:#fff;
    border: 0;
    border-radius: 6px;
    padding:8px 25px;
    margin:5px;
    font-family: inherit;
    font-size: 14px;
    cursor: pointer;
}
.btn:active{
    transform: scale(0.98);
}
.btn:disabled{
    cursor: not-allowed;
    background-color: var(--line-empty);
}
.btn:focus{
    outline: 0;
}